.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

body {
    background-image: url("../img/bg-img.png");
    background-size: cover;
}

/*HEADER-CONTAINER*/
.header-container {
    padding: 15px 70px;
    background-color: rgba(0, 0, 0, 0.4);
}

.logo {
    float: left;
}

.title {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navigation {
    float: right;
}

.icon {
    display: inline-block;
    margin-left: 20px;
}

.login-title {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 30px;
}

.text-color {
    color: #3CB878;
}

.container {
    width: 444px;
    height: 625px;
    background-color: #FFFFFF;
    margin: 90px auto 0 auto;
    border-radius: 5px;
    text-align: center;
    margin-top: 32px;
}

.sing-up {
    display: inline-block;
    font-size: 20px;
    float: left;
    margin-top: 22px;
    margin-left: 55px;
    font-family: 'Montserrat', sans-serif;
}

.log-in {
    display: inline-block;
    float: right;
    margin-right: 55px;
    margin-top: 22px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.social-btn {
    width: 165px;
    height: 47px;
    margin-top: 11px;
    border: 0 solid;
    border-radius: 5px;
}

.fab {
    position: relative;
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 16px;
}
.fab::after{
    content: "";
    position: absolute;
    display: inline-block;
    height: 20px;
    top: -2px;
    right: -5px;
    border-right: 1px solid;

}
.check-fb-btn {
    background-color: #305DB8;
    color: #FFFFFF;
    font-size: 16px;
}

.check-g-btn {
    background-color: #DF4A32;
    color: #FFFFFF;
    font-size: 16px;
}

.chois {
    position: relative;
    margin: 30px 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #848484;
}

.chois::before {
    content: "";
    top: 10px;
    left: 52px;
    position: absolute;
    display: inline-block;
    width: 150px;
    border-top: 1px solid #EAEAEA;
}

.chois::after {
    content: "";
    top: 10px;
    right: 52px;
    position: absolute;
    display: inline-block;
    width: 150px;
    border-top: 1px solid #EAEAEA;
}

.form input {
    display: inline-block;
}

.check-list {
    display: inline-block;
}

.cell {
    display: inline-block;
    width: 322px;
    height: 46px;
    margin-top: 15px;
    font-size: 14px;
    padding-left: 19px;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
}

.cell:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.check-agree {
    margin-top: 44px;
    font-size: 14px;
    color: #3CB878;
    font-family: 'Montserrat', sans-serif;
}

.done-btn {
    width: 322px;
    height: 46px;
    background-color: #3CB878;
    color: #FFFFFF;
    border: 0 solid;
    margin-top: 21px;
}
/* icons */
.bg-ic_journey1X {
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -100px -10px;
    color: #FFFFFF;
}

.bg-ic_forum1X {
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.bg-ic_caledar1X {
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites.png') -10px -50px;
}
.chek-item {
    margin-top: 22px;
}

input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    background: rgba(0, 0, 0, 0);
    top: 0.5ex;
    left: 0.6ex;
    border: 3px solid #3CB878;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"] {
    line-height: 2.1ex;
}

input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 3ex;
    width: 3ex;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    margin-right: 0.5em;
}






